/* 
Student Name: Annsona Ansilon Dores
Student Id: c0932173
*/
    body {
        background-color: #ccb3ff; /* Set background color */
        font-family: 'Georgia', 'Times New Roman', serif; /* Set default font */
    }
    
    .container {
        width: 70%; /* Adjust the width of the container */
        margin: 0 auto; /* Center the page */
    }
    
    header {
        background-color: #9966ff; /* Set background color */
        margin: 7px 0; /* Set top and bottom margins */
        border-radius: 5px; /* Add rounded borders */
        box-shadow: 0 2px 5px rgba(13, 3, 3, 0.2); /* Add shadow */
        text-align: center; /* Center text */
        margin: 10px 0;
        position: relative; /* Add relative positioning */
    }
    #banner-text{
        color: white;
        text-align: center;
        font-family: 'Georgia', 'Times New Roman', serif;
    }
    #sub-banner{
        color: white;
        text-align: center;
        font-family: 'Georgia', 'Times New Roman', serif;
    }
    .logo-container {
        position: absolute;
        z-index: 2; /* Ensure the logo is on top of the banner */
        float: left; /* Float the logo to the left */
        padding: 10px; /* Add padding */
       
    }
    
    .logo-container a {
        text-decoration: none; /* Remove underlines from links */
        color: #fff; /* Set link color */
        display: flex; /* Use flex for better alignment */
        align-items: center; /* Center items vertically */
    }

    img[alt="Aero Blow Banner"] {
        width: 100%;
    }
    
    .logo-container img {
        margin-right: 10px; /* Add space between logo and text */
    } 
    
    nav {
        text-align: center; /* Center text */
        padding: 10px;
    }
    
    nav a {
        font-size: 20px;
        text-decoration: none; /* Remove underlines from links */
        color: #ffffff; /* Set link color */
        padding: 5px 10px; /* Set padding for links */
        margin: 0 5px; /* Set margins between links */
        border: none; /* Add borders to links */
        border-radius: 5px; /* Add rounded borders */
    }
    
    nav a:hover {
        background-color: #e8b7d7; /* Change background color on hover */
    }
    
    main {
        display: block; /* Set as block element */
        margin: 7px 0; /* Set margins */
        padding: 10px; /* Add padding */
        border-radius: 5px; /* Add rounded borders */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow */
    }

    .welcome {
        font-size: 1.5em;
        font-family: 'Georgia', 'Times New Roman', serif;
        color: rgb(24, 6, 102);
        text-align: center;
    }

    .sub-content {
        font-size: 1em;
        font-family: 'Georgia', 'Times New Roman', serif;
        color: black;
        text-align: center;
        font-style: italic;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 24px; /* Adjust heading font sizes */
        color: #0077cc; /* Change color of heading */
    }
    
    footer {
        font-size: 12px; /* Adjust footer font size */
        text-align: center; /* Center text */
        margin-top: 20px; /* Add top margin */
    }

    /* CSS for specials file */

    .banner{
        display: block; /* Set as block element */
        margin: 7px 0; /* Set margins */
        padding: 10px; /* Add padding */
        border-radius: 5px; /* Add rounded borders */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: plum;
        
    }

    .banner h1 {
        margin: 0;
        font-size: 24px;
        color: #3e178c;
        font-family: 'Arial', sans-serif;
        text-align: center;
    }

    .banner1{
        display: block; /* Set as block element */
        margin: 7px 0; /* Set margins */
        padding: 10px; /* Add padding */
        border-radius: 5px; /* Add rounded borders */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: plum;
    }

    .banner1 h1{
        margin: 0;
        font-size: 24px;
        color: #3e178c;
        font-family: 'Arial', sans-serif;
        text-align: center;
    }
    
    .image-row {
        display: flex;
    }
      
    .image-container {
        flex: 1;
        text-align: center;
        margin: 10px;
        margin-left: auto;
    }
      
    .image-choice {
        width: 95%;
        height: 75%;

    }
    .image-caption {
        margin-top: 10px;
        font-size: 14px;
        color: black;
        font-family: 'Arial', sans-serif;
        font-size: 14pt;
        font-style: italic;
    }

    /* Style rule for Video and Audio */
   
    video {
        display: block;
        margin: 30px auto;
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 50%; /* Adjust the maximum width as needed */
        height: auto;
    }
    audio{
        display: block;
        margin: 30px auto;
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2{
        text-align: center;
        font-size: 24px;
        color: #3e178c;
        font-family: 'Arial', sans-serif;
}
  